


.j4-btn{
    height: 2rem;
    width: 5rem;
    border-radius: 8px;
    border: none;
    color: white;
   
    background-color:#b8860b;

    cursor: pointer;
    transition: 0.5s;
    font-family: 'Varela', sans-serif;
    float: right;
    margin-left: 110px;
    margin-top: 20px;
}

.j4-btn:hover{
    background-color: #996515;
    border: 1px solid #daa520;
  
}