

.dob-input-container{
    margin-top: 40px;
}

.dob-input{
    margin-left: 10px;
}

.j11-label{
    font-weight: 300;
}

.j11-btn{
    height: 2rem;
    width: 5rem;
    border-radius: 8px;
    border: none;
    color: white;
   
    background-color:#b8860b;

    cursor: pointer;
    transition: 0.5s;
    font-family: 'Varela', sans-serif;
    float: right;
    margin-right: 40px;
}

.j11-btn:hover{
    background-color: #996515;
    /* color: black; */
    border: 1px solid #daa520;
  }



@media(min-width:750px){
    .pan-input{
        margin-left: 20px;
    }
    }
   