.contact-details-container {
    padding: 20px;
    margin: 20px;
  }
  
  .j8-label{
    font-weight: 400;
  }
 

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-column {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 2px;
  }
  
  input {
    border: none;
    border-bottom: 1px solid #ccc; /* Add a bottom border for better visual separation */
    padding: 5px;
    margin-top: 5px;
    outline: none; /* Remove the input outline on focus */
  }
  
  .error-input {
    border-bottom: 1px solid red; /* Add a red border for invalid input */
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }

  .contact-input{
    height: 40px;
  }
  

  .j8-btn{
    height: 2rem;
    width: 5rem;
    border-radius: 8px;
    border: none;
    color: white;
   
    background-color:#b8860b;

    cursor: pointer;
    transition: 0.5s;
    font-family: 'Varela', sans-serif;
    float: right;
  }

  .j8-btn:hover{
    background-color: #996515;
    /* color: black; */
    border: 1px solid #daa520;
  }